<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.mapper.GuideMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.Guide">
    <id column="gu_id" jdbcType="INTEGER" property="guId" />
    <result column="sp_id" jdbcType="INTEGER" property="spId" />
    <result column="gu_name" jdbcType="VARCHAR" property="guName" />
    <result column="gu_sex" jdbcType="VARCHAR" property="guSex" />
    <result column="gu_time" jdbcType="DATE" property="guTime" />
    <result column="gu_picture" jdbcType="VARCHAR" property="guPicture" />
  </resultMap>
  <sql id="Base_Column_List">
    gu_id, sp_id, gu_name, gu_sex, gu_time, gu_picture
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from guide
    where gu_id = #{guId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from guide
    where gu_id = #{guId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.pojo.Guide">
    insert into guide (gu_id, sp_id, gu_name, 
      gu_sex, gu_time, gu_picture
      )
    values (#{guId,jdbcType=INTEGER}, #{spId,jdbcType=INTEGER}, #{guName,jdbcType=VARCHAR}, 
      #{guSex,jdbcType=VARCHAR}, #{guTime,jdbcType=DATE}, #{guPicture,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.pojo.Guide">
    insert into guide
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guId != null">
        gu_id,
      </if>
      <if test="spId != null">
        sp_id,
      </if>
      <if test="guName != null">
        gu_name,
      </if>
      <if test="guSex != null">
        gu_sex,
      </if>
      <if test="guTime != null">
        gu_time,
      </if>
      <if test="guPicture != null">
        gu_picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guId != null">
        #{guId,jdbcType=INTEGER},
      </if>
      <if test="spId != null">
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="guName != null">
        #{guName,jdbcType=VARCHAR},
      </if>
      <if test="guSex != null">
        #{guSex,jdbcType=VARCHAR},
      </if>
      <if test="guTime != null">
        #{guTime,jdbcType=DATE},
      </if>
      <if test="guPicture != null">
        #{guPicture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.Guide">
    update guide
    <set>
      <if test="spId != null">
        sp_id = #{spId,jdbcType=INTEGER},
      </if>
      <if test="guName != null">
        gu_name = #{guName,jdbcType=VARCHAR},
      </if>
      <if test="guSex != null">
        gu_sex = #{guSex,jdbcType=VARCHAR},
      </if>
      <if test="guTime != null">
        gu_time = #{guTime,jdbcType=DATE},
      </if>
      <if test="guPicture != null">
        gu_picture = #{guPicture,jdbcType=VARCHAR},
      </if>
    </set>
    where gu_id = #{guId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.Guide">
    update guide
    set sp_id = #{spId,jdbcType=INTEGER},
      gu_name = #{guName,jdbcType=VARCHAR},
      gu_sex = #{guSex,jdbcType=VARCHAR},
      gu_time = #{guTime,jdbcType=DATE},
      gu_picture = #{guPicture,jdbcType=VARCHAR}
    where gu_id = #{guId,jdbcType=INTEGER}
  </update>
</mapper>