<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.Staff">
    <id column="st_id" jdbcType="INTEGER" property="stId" />
    <result column="st_name" jdbcType="VARCHAR" property="stName" />
    <result column="st_sex" jdbcType="VARCHAR" property="stSex" />
    <result column="st_time" jdbcType="DATE" property="stTime" />
    <result column="verson" jdbcType="INTEGER" property="verson" />
    <result column="st_photo" jdbcType="VARCHAR" property="stPhoto" />
    <result column="st_password" jdbcType="VARCHAR" property="stPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    st_id, st_name, st_sex, st_time, verson, st_photo, st_password
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from staff
    <if test="index!=-1 and limit!=-1">
      limit #{index},#{limit}
    </if>
  </select>




  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where st_id = #{stId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staff
    where st_id = #{stId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bdqn.pojo.Staff">
    insert into staff (st_id, st_name, st_sex, 
      st_time, verson, st_photo, 
      st_password)
    values (#{stId,jdbcType=INTEGER}, #{stName,jdbcType=VARCHAR}, #{stSex,jdbcType=VARCHAR}, 
      #{stTime,jdbcType=DATE}, #{verson,jdbcType=INTEGER}, #{stPhoto,jdbcType=VARCHAR}, 
      #{stPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.pojo.Staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        st_id,
      </if>
      <if test="stName != null">
        st_name,
      </if>
      <if test="stSex != null">
        st_sex,
      </if>
      <if test="stTime != null">
        st_time,
      </if>
      <if test="verson != null">
        verson,
      </if>
      <if test="stPhoto != null">
        st_photo,
      </if>
      <if test="stPassword != null">
        st_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        #{stId,jdbcType=INTEGER},
      </if>
      <if test="stName != null">
        #{stName,jdbcType=VARCHAR},
      </if>
      <if test="stSex != null">
        #{stSex,jdbcType=VARCHAR},
      </if>
      <if test="stTime != null">
        #{stTime,jdbcType=DATE},
      </if>
      <if test="verson != null">
        #{verson,jdbcType=INTEGER},
      </if>
      <if test="stPhoto != null">
        #{stPhoto,jdbcType=VARCHAR},
      </if>
      <if test="stPassword != null">
        #{stPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.Staff">
    update staff
    <set>
      <if test="stName != null">
        st_name = #{stName,jdbcType=VARCHAR},
      </if>
      <if test="stSex != null">
        st_sex = #{stSex,jdbcType=VARCHAR},
      </if>
      <if test="stTime != null">
        st_time = #{stTime,jdbcType=DATE},
      </if>
      <if test="verson != null">
        verson = #{verson,jdbcType=INTEGER},
      </if>
      <if test="stPhoto != null">
        st_photo = #{stPhoto,jdbcType=VARCHAR},
      </if>
      <if test="stPassword != null">
        st_password = #{stPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.Staff">
    update staff
    set st_name = #{stName,jdbcType=VARCHAR},
      st_sex = #{stSex,jdbcType=VARCHAR},
      st_time = #{stTime,jdbcType=DATE},
      verson = #{verson,jdbcType=INTEGER},
      st_photo = #{stPhoto,jdbcType=VARCHAR},
      st_password = #{stPassword,jdbcType=VARCHAR}
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
</mapper>