<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.mapper.TouristSpotMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.TouristSpot">
    <id column="sp_id" jdbcType="INTEGER" property="spId" />
    <result column="sp_name" jdbcType="VARCHAR" property="spName" />
    <result column="sp_message" jdbcType="VARCHAR" property="spMessage" />
    <result column="sp_pictrue" jdbcType="VARCHAR" property="spPictrue" />
  </resultMap>


  <!--全查询和分页-->
  <select id="selectSpot" resultMap="BaseResultMap" >
      select * from tourist_spot order by sp_id desc
    <if test="index!=-1 and limit!=-1">
      limit #{index},#{limit}
    </if>
  </select>


  <sql id="Base_Column_List">
    sp_id, sp_name, sp_message, sp_pictrue
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tourist_spot
    where sp_id = #{spId,jdbcType=INTEGER}
  </select>

  <!--删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tourist_spot
    where sp_id = #{spId,jdbcType=INTEGER}
  </delete>

  <!--增加-->
  <insert id="insert" parameterType="com.bdqn.pojo.TouristSpot">
    insert into tourist_spot (sp_name,sp_message)
    values (#{spName,jdbcType=VARCHAR}, #{spMessage,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.bdqn.pojo.TouristSpot">
    insert into tourist_spot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        sp_id,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="spMessage != null">
        sp_message,
      </if>
      <if test="spPictrue != null">
        sp_pictrue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spId != null">
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spMessage != null">
        #{spMessage,jdbcType=VARCHAR},
      </if>
      <if test="spPictrue != null">
        #{spPictrue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.TouristSpot">
    update tourist_spot
    <set>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=VARCHAR},
      </if>
      <if test="spMessage != null">
        sp_message = #{spMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.TouristSpot">
    update tourist_spot
    set sp_name = #{spName,jdbcType=VARCHAR},
      sp_message = #{spMessage,jdbcType=VARCHAR},
      sp_pictrue = #{spPictrue,jdbcType=VARCHAR}
    where sp_id = #{spId,jdbcType=INTEGER}
  </update>
</mapper>